<div id="%bizCode%" class="bizPages">
    <div class="layerTop">
        <div id="biz_title_%bizCode%" class="layerTitle">%bizName%</div>
        <div id="layerBtn_%bizCode%" class="layerBtn">
            <a href="#" id="topReloadBtn_%bizCode%" class="layerTopReloadBtn" value="reload">[R]</a>
            <a href="#" id="topHideBtn_%bizCode%" class="layerTopHideBtn" value="hide">[_]</a>
            <a href="#" id="topCloseBtn_%bizCode%" class="layerTopCloseBtn" value="close">[X]</a>
        </div>
    </div>
    <iframe id="biz_frame_%bizCode%" src="./%bizUrl%" width="1036" height="700" scrolling="yes"></iframe>
</div>
